@media only screen and (max-width: 768px) {
  #accommodations > .content > a {
    margin-top: 12px;
  }

  #accommodations > header > h1 {
    margin-bottom: 20px;
  }
}

#accommodations {
  padding: 32px 16px;
}

#accommodations > header {
  margin-bottom: 16px;
}

#accommodations h1 {
  font-size: 1.4em;
}

#accommodations > .content > a {
  display: flex;
  flex-flow: column wrap;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 1px 1px 10px #d9d9d9;

  background-color: white;
}

#accommodations > .content > a > img {
  height: 113px;
  width: 235px;
  width: 100%;

  flex: 0 0 auto;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

#accommodations > .content > a > .description {
  display: flex;
  flex-flow: column nowrap;
  padding: 8px 11px;
}

#accommodations > .show-more {
  display: block;
  font-size: large;
  font-weight: 600;
  margin-top: 32px;
}
