@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100..600&display=swap");

:root {
  --primary-color: #0065fc;
  --secondary-color: #deebff;
  --background-color: #f2f2f2;
  --container-max-width: 1440px;
  --padding: 20px;
}

body {
  font-family: "Raleway", "Trebuchet MS", Arial, sans-serif;
  padding: 0;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3 {
  margin: 0;
  font-size: 1.4em;
  font-weight: 600;
}

p {
  font-weight: 300;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1440px;
  margin: auto auto;
}

.stars {
  font-size: x-small;
}

.stars > .fas {
  color: #d9d9d9;
}

.stars > .blue {
  color: var(--primary-color);
}

.title {
  font-weight: bold;
}

.subtitle {
  font-weight: 300;
  font-size: small;
  margin-bottom: 5px;
  margin-top: 5px;
}

/* */
@media only screen and (min-width: 992px) {
  main {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
  }

  body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}
