@media only screen and (min-width: 768px) {
  body > header > div :nth-child(2) {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-with: 991px) {
  body > header > div .logo img {
    padding-left: 20px;
  }
}

@media only screen and (min-width: 768px) {
  body > header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  body > header > div .logo img {
    display: block;
    height: 45px;
    margin: 50px 0 40px 0;
  }

  body > header > * {
    flex-basis: unset;
  }

  body > header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    padding: 0;
  }

  body > header .menu > a {
    flex-basis: unset;
    /* border-bottom-color: none; */
    padding-bottom: 0;
    border-bottom: none;
  }

  body > header .menu > a:nth-child(1) {
    padding-top: 62px;
    padding-bottom: 62px;
    padding-right: 25px;
    padding-left: 25px;
    border-top: 2px solid var(--primary-color);
  }

  body > header .menu > a:hover:nth-child(2) {
    color: var(--primary-color);
  }

  body > header .menu > a:nth-child(2) {
    padding-right: 34px;
    padding-left: 43px;
  }

  body > header .menu > a:nth-child(3) {
    color: var(--primary-color);
    font-weight: bold;
    padding-left: 34px;
  }
}
