@media only screen and (min-width: 992px) {
  .results {
    display: flex;
    flex-flow: row-reverse;
    gap: 40px;
    max-height: 630px;
    /* padding: 0 16px; */
  }

  .results > * {
    border-radius: 15px;
  }

  .results > #accommodations {
    flex: 0 0 60%;
    background-color: var(--background-color);
  }
}
