@media only screen and (min-width: 992px) {
  .footer > nav {
    flex: 0 0 32%;
  }

  .footer {
    padding-top: 15px;
    padding-left: 50px;
    /* padding-left: 0; */
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-start;
  }
}
