@media only screen and (min-width: 768px) and (max-width: 991px) {
  #populars {
    background-color: var(--background-color);
    padding: 35px 30px;
    display: flex;
    flex-flow: column;
  }

  #populars > .heading {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  #populars > .heading > :first-child {
    flex-grow: 1;
  }

  #populars > .heading > i {
    font-size: large;
  }

  /* #populars > .content {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex: 0 0 auto; */
  /* vertical-align: baseline; */
  /* }

  #populars > .content > a {
    background-color: white;
    display: flex;
    flex: 0 0 auto;
    width: 47%;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 1px 1px 10px #d9d9d9;
    margin-top: var(--padding);
    vertical-align: baseline;
  }

  #populars > .content > a > img {
    height: 132px;
    width: 132px;
    flex: 0 0 auto;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
  }

  #populars > .content > a > .description {
    padding: 8px 16px;
    display: flex;
    flex-flow: column nowrap;
  }

  #populars > .content > a > .description > .subtitle {
    flex-grow: 1;
  } */

  #populars > .content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    row-gap: 30px;
  }

  #populars > .content > a {
    display: flex;
    flex-flow: column wrap;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 1px 1px 10px #d9d9d9;

    background-color: white;
    width: 30%;
  }

  #populars > .content > a > img {
    height: 113px;
    width: 235px;
    width: 100%;

    flex: 0 0 auto;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
  }

  #populars > .content > a > .description {
    display: flex;
    flex-flow: column nowrap;
    padding: 8px 11px;
  }
}
